<%= render 'post_image/user', user: current_user, book: Book.new %>
  <!--#Usersの詳細（ユーザーが投稿したもの一覧・本のタイトル[リンク付き]・説明）。-->
<!-- ユーザーの投稿一覧 -->

<div>
  <p>投稿ユーザー画像：<%= image_tag @user.get_profile_image(100,100) %></p>
  <p>Title：<%= @user.name %></p>
  <p>Opinion：<%= @user.introduction %></p>
</div>

<!--Boostrapのレイアウト（２３章）-->
<!--<table class="tabel tabel-striped">-->
  
<!--</table>-->